*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border_purple{
    border: 3px solid hsl(264, 82%, 80%) !important;

}

body{
    font-family: "Outfit", serif;
    height: 100vh;
    background-color: hsl(214, 17%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:auto auto;
    padding: 110px;
    max-width: 1300px;
    gap: 30px;
    
}
.card{
    text-align: left;
    padding: 20px;
    color:hsl(0, 0%, 100%) ;
    border-radius: 10px;
    box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.1);
}
.user{
    display: flex;
    align-items: center;
    gap:10px
}
.user img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.info h4{
    font-weight: 400;
}
.info p{
    font-weight: lighter;
}

h3{
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}

p{
    font-size: 14px;
    opacity: 0.8;    
}


 .purple{ 
    position: relative;
    border-color:hsl(263, 55%, 52%) ;
    grid-column: span 2;
    background-color:hsl(263, 55%, 52%) ;
    color:hsl(260, 100%, 95%);
    background-image: url('./images/bg-pattern-quotation.svg') ;
    background-repeat: no-repeat;
    background-position: top right 55px;
    background-size: 95px;
    

}

 .dark-gray{
    background-color:hsl(217, 19%, 35%) ;
    
}

.white{
    grid-row: span 2;
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}
.white-1{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}
.black{
    border-color:5px soild hsl(263, 55%, 52%) ;
    background-color:hsl(219, 29%, 14%) ;
    color: hsl(214, 17%, 92%) ;
    grid-column: span 2;
}